PROJECT_NAME_HERE_SECRET_KEY=local_dev_secret_key_for_poolc
EXPIRE_LENGTH_IN_MILLISECONDS=3600000
FILE_DIR=./local-files/
DB_HOST=localhost:5432
DB_NAME=poolc
DB_USER_NAME=poolc
DB_PASSWORD=poolc_dev_password
EMAIL_ADDRESS=local@example.com
EMAIL_PASSWORD=dummy
NAVER_BOOK_API_URL=https://openapi.naver.com/v1/search/book.json
NAVER_BOOK_CLIENT_ID=dummy
NAVER_BOOK_CLIENT_SECRET=dummy
KUBERNETES_API_KEY=local-dev
